# Copyright (c) 2025 Cirrus Logic, Inc.
# SPDX-License-Identifier: Apache-2.0

config AUDIO_CODEC_CS35L56
	bool "Cirrus Logic CS35L56 codec support"
	depends on DT_HAS_CIRRUS_CS35L56_ENABLED
	select I2C if $(dt_compat_on_bus,$(DT_COMPAT_CIRRUS_CS35L56),i2c)
	select GPIO
	select REGULATOR
	help
	  Enable driver for CS35L56 smart amplifier

if AUDIO_CODEC_CS35L56

config AUDIO_CODEC_CS35L56_SOUNDWIRE_ASP_ARBITRATION
	bool "CS35L56 SoundWire and ASP source arbitration"
	help
	  Enables arbitration of SoundWire and ASP audio sources where
	  the SoundWire stream has priority over the ASP stream.

endif
